body {
    margin: 0;
    padding: 0;
    font-family: oswald;
}

a,
a:hover,
a:visited {
    color: #0071bc;
}

#map {
    top: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
}

#header {
    margin: auto;
    width: 100%;
    position: relative;
    z-index: 5;
    opacity: 0.8;
    border-bottom: 6px solid #0071bc;
}

#header h1,
#header h2,
#header p {
    margin: 0;
    padding: 2vh 2vw;
    text-align: center;
}

#footer {
    width: 100%;
    min-height: 5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    line-height: 25px;
    font-size: 13px;
    position: relative;
    z-index: 5;
}

#features {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.hidden {
    visibility: hidden;
}

.centered {
    width: 50vw;
    margin: 0 auto;
}

.lefty {
    width: 33vw;
    margin-left: 5vw;
}

.righty {
    width: 33vw;
    margin-left: 62vw;
}

.fully {
    width: 100%;
    margin: auto;
}

.light {
    color: #7a7474;
    background-color: #fafafa;
}

.dark {
    color: #000000;
    background-color: #aaa1a1;
}

.step {
    padding-bottom: 50vh;
    /* margin-bottom: 10vh; */
    opacity: 0.2;
}

.step.active {
    opacity: 0.9;
}

.step div {
    padding: 25px 50px;
    line-height: 25px;
    font-size: 16px;
    border: 6px solid #0071bc;
}

.step img {
    width: 100%;
}

@media (max-width: 750px) {

    .centered,
    .lefty,
    .righty,
    .fully {
        width: 90vw;
        margin: 0 auto;
    }
}

.legend {
    position: absolute;
    bottom: 60px;
    right: 30px;
    background: white;
    padding: 10px;
    font-size: 12px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 6;
}

.legend.hidden {
    display: none;
}

.legend h4 {
    margin: 0 0 5px 0;
}

.legend-color {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    vertical-align: middle;
}

.legend-two {
    position: absolute;
    bottom: 60px;
    left: 30px;
    background: white;
    padding: 10px;
    font-size: 12px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 6;
}

.legend-two h4 {
    margin: 0 0 5px 0;
}

.legend-line {
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: green;
    margin-right: 5px;
    vertical-align: middle;
}

/* gives all the photos a hover */
.zoom-hover:hover {
    transform: scale(1.7);
    z-index: 10;
}

/* Fix issue on mobile browser where scroll breaks  */
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
    touch-action: unset;
}